@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Figtree-600';
  src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree-800';
  src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 800;
  font-display: swap;
}

body {
  font-family: "Figtree-600";
}

/* npx tailwindcss -i ./style.css -o ./output.css --watch */